@import "tailwindcss";

@theme {
--color-fundo:#17111b;
--color-rosa:#e0709f;
--color-rosa-escuro:#882c52;
--color-rosa-claro: #f195bc;
--color-texto:#f1e9ee;
--color-card:#1E1623;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--color-fundo);
}

@layer components {


   .container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }

 .detail {
  position: relative;

  }

.detail::before {
  content: '';
  position: absolute;
  top: 30%;
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-rosa);
  box-shadow: 0 0 7px 0px var(--color-rosa);
}

.bols{
  position: relative;
}

.bols::before{
  content: '';
  position: absolute;
  top: 30%;
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.detail-rosa{
  position: relative;
}
.detail-rosa::before{
  content: '';
  position: absolute;
  top: 39%;
  left: -25px;
  width: 17px;
  height: 2px;
  background: var(--color-rosa);
}

.neon {
  position: absolute;

  top: 18%;
  left: 22%;

  width: 420px;
  height: 220px;
  background: rgba(224, 112, 159, 0.587);
  filter: blur(70px);
  border-radius: 50%;
  z-index: -1;
}
.cardHover:hover{
  box-shadow: 0 0 5px 0px var(--color-rosa);
}
}